if SHIELD_LT_1_LEFT

config ZMK_KEYBOARD_NAME
    default "litkey"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif # SHIELD_LT_1_LEFT

if SHIELD_LT_1_LEFT || SHIELD_LT_1_RIGHT

config ZMK_SPLIT
    default y

endif # SHIELD_LT_1_LEFT || SHIELD_LT_1_RIGHT
