// See https://zmk.dev/docs/development/hardware-integration/physical-layouts
// for how to configure this.

#include <physical_layouts.dtsi>

/ {
    default_layout: default_layout {
        compatible = "zmk,physical-layout";
        display-name = "Default Layout";
        transform = <&default_transform>;
        kscan = <&kscan>;

        // Edit this to define the positions and sizes of the keys, or remove it
        // if your keyboard will not support ZMK Studio.
        // https://zmk.dev/docs/development/hardware-integration/physical-layouts#optional-keys-property
        keys  //                     w   h    x    y     rot    rx    ry
// LEFT HALF (columns 0–5)
        = <&key_physical_attrs 100 100   0   0 0 0 0>
        , <&key_physical_attrs 100 100 100  10 0 0 0>
        , <&key_physical_attrs 100 100 200   0 0 0 0>
        , <&key_physical_attrs 100 100 300 -10 0 0 0>
        , <&key_physical_attrs 100 100 400 -20 0 0 0>
        , <&key_physical_attrs 100 100 500 -30 0 0 0>

        , <&key_physical_attrs 100 100   0 100 0 0 0>
        , <&key_physical_attrs 100 100 100 110 0 0 0>
        , <&key_physical_attrs 100 100 200 100 0 0 0>
        , <&key_physical_attrs 100 100 300  90 0 0 0>
        , <&key_physical_attrs 100 100 400  80 0 0 0>
        , <&key_physical_attrs 100 100 500  70 0 0 0>
        
        , <&key_physical_attrs 100 100   0 200 0 0 0>
        , <&key_physical_attrs 100 100 100 210 0 0 0>
        , <&key_physical_attrs 100 100 200 200 0 0 0>
        , <&key_physical_attrs 100 100 300 190 0 0 0>
        , <&key_physical_attrs 100 100 400 180 0 0 0>
        , <&key_physical_attrs 100 100 500 170 0 0 0>

// LEFT THUMBS
        , <&key_physical_attrs 100 100 150 300 0 0 0>
        , <&key_physical_attrs 100 100 300 320 0 0 0>
        , <&key_physical_attrs 100 100 450 300 0 0 0>

// RIGHT HALF (offset by +800)
        , <&key_physical_attrs 100 100 800   0 0 0 0>
        , <&key_physical_attrs 100 100 900 -10 0 0 0>
        , <&key_physical_attrs 100 100 1000   0 0 0 0>
        , <&key_physical_attrs 100 100 1100  10 0 0 0>
        , <&key_physical_attrs 100 100 1200  20 0 0 0>
        , <&key_physical_attrs 100 100 1300  30 0 0 0>
        
        , <&key_physical_attrs 100 100 800 100 0 0 0>
        , <&key_physical_attrs 100 100 900  90 0 0 0>
        , <&key_physical_attrs 100 100 1000 100 0 0 0>
        , <&key_physical_attrs 100 100 1100 110 0 0 0>
        , <&key_physical_attrs 100 100 1200 120 0 0 0>
        , <&key_physical_attrs 100 100 1300 130 0 0 0>
        
        , <&key_physical_attrs 100 100 800 200 0 0 0>
        , <&key_physical_attrs 100 100 900 190 0 0 0>
        , <&key_physical_attrs 100 100 1000 200 0 0 0>
        , <&key_physical_attrs 100 100 1100 210 0 0 0>
        , <&key_physical_attrs 100 100 1200 220 0 0 0>
        , <&key_physical_attrs 100 100 1300 230 0 0 0>

// RIGHT THUMBS
        , <&key_physical_attrs 100 100 950 300 0 0 0>
        , <&key_physical_attrs 100 100 1100 320 0 0 0>
        , <&key_physical_attrs 100 100 1250 300 0 0 0>
    ;
    };
};
